<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>FilterController</filter-name>
        <filter-class>vuha.filter.FilterController</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>FilterController</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <listener>
        <description>ServletContextListener</description>
        <listener-class>vuha.listeners.InitFilterListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>RegistrationController</servlet-name>
        <servlet-class>vuha.controller.RegistrationController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>vuha.controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>vuha.controller.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateQuestionController</servlet-name>
        <servlet-class>vuha.controller.CreateQuestionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchController</servlet-name>
        <servlet-class>vuha.controller.SearchController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateStatusController</servlet-name>
        <servlet-class>vuha.controller.UpdateStatusController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateQuestionController</servlet-name>
        <servlet-class>vuha.controller.UpdateQuestionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateViewController</servlet-name>
        <servlet-class>vuha.controller.UpdateViewController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TakeQuizController</servlet-name>
        <servlet-class>vuha.controller.TakeQuizController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DoQuizController</servlet-name>
        <servlet-class>vuha.controller.DoQuizController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewHistoryController</servlet-name>
        <servlet-class>vuha.controller.ViewHistoryController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegistrationController</servlet-name>
        <url-pattern>/RegistrationController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/LogoutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateQuestionController</servlet-name>
        <url-pattern>/CreateQuestionController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchController</servlet-name>
        <url-pattern>/SearchController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateStatusController</servlet-name>
        <url-pattern>/UpdateStatusController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateQuestionController</servlet-name>
        <url-pattern>/UpdateQuestionController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateViewController</servlet-name>
        <url-pattern>/UpdateViewController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TakeQuizController</servlet-name>
        <url-pattern>/TakeQuizController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DoQuizController</servlet-name>
        <url-pattern>/DoQuizController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewHistoryController</servlet-name>
        <url-pattern>/ViewHistoryController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
    <error-page>
        <error-code>404</error-code>
        <location>/index.html</location>
    </error-page>
    <resource-ref>
        <res-ref-name>DBCon</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
</web-app>
